<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MVC BLOG</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/blog-home.css" rel="stylesheet">
    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }


    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#">MVC Blog</a>
            <div class="collapse navbar-collapse dropdown" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Hakkimizda">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Iletisim">İletişim</a>
                    </li>
                    @if (Session["uyeId"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Index/@Session["uyeId"]"> <i class="fa fa-fw fa-sign-out"></i>@Session["kullaniciAdi"].ToString()</a>
                        </li>
    <li class="nav-item">
        <a class="nav-link" href="/Uye/Logout"><i class="fa fa-fw fa-sign-out"></i> Çıkış</a>
    </li>
                        if (Convert.ToInt32(Session["yetkiId"]) == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Index/ " target="_blank">Admin Paneli</a>
                            </li>
                        }

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Login ">Giriş</a>
                        </li>

                    }
                    

                     
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()

            </div>
            <!-- Blog Entries Column -->
           
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Categories Widget -->
               @{
                   Html.RenderAction("KategoriPartial", "Home");
           
               }
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-block">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                     </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->

    
   

    <footer class="py-5 bg-inverse ">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year</p>
            
        </div>
     
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/tether/tether.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
